* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;      
  padding: 16px;
}
   
header {
    background-color: #ffffff;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:left;
}

header img {
    justify-content: center;
    width: 400px;
    margin-left: 100px;
    background-color: #ffffff;

}

.barra {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    align-content: space-between;
}

.barra #tema {
   
    display: flex;
    justify-self: center;
    width: 500px;
    height: 30px;
    
}

.barra #tema:hover {
    border-color: blue;
}

.barra #tema:focus {
    border-color: rgb(64, 123, 212);
    outline: 2px solid rgb(64, 123, 212);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.product-card p {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #e4002b;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #e4002b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.product-card button:hover {
    background-color: #b30021;
}
